---
import type { GetStaticPaths } from 'astro';
import { type CollectionEntry,  render } from 'astro:content';
import { getBlogPosts } from '@/utils/blog';
import PostDate from '@/components/blog/PostDate.astro';
import SiteBase from '@/layouts/SiteBase.astro';

export const getStaticPaths: GetStaticPaths = async () => {
  const blogPosts = await getBlogPosts();
  return blogPosts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<SiteBase title={ post.data.title }>
  <section data-pagefind-body>
    <div class="mb-10">
      <h1 class="text-2xl font-serif font-bold mb-2">{ post.data.title }</h1>
      <div class="text-xs">
        <PostDate pubDate={ post.data.pubDate } />
      </div>
    </div>
    <article class="prose">
      <Content />
    </article>
  </section>
</SiteBase>
