@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@import "./prose.css";

:root {
  --pf-text: var(--color-green-900);
  --pf-text-secondary: oklch(from var(--color-green-900) l c h / 0.5);
  --pf-text-muted: var(--pf-text-secondary);
  --pf-background: var(--color-green-50);
  --pf-border: oklch(from var(--color-green-900) l c h / 0.2);
  --pf-border-focus: var(--color-green-900);
  --pf-skeleton: none;
  --pf-skeleton-shine: none;
  --pf-hover: var(--color-green-50);
  --pf-mark: var(--color-green-900);

  --pf-font: "Inter", sans-serif;

  --pf-outline-focus: var(--color-green-900);
}

:root.dark {
  --pf-text: var(--color-green-50);
  --pf-text-secondary: oklch(from var(--color-green-50) l c h / 0.5);
  --pf-background: var(--color-green-950);
  --pf-border: oklch(from var(--color-green-50) l c h / 0.2);
  --pf-border-focus: var(--color-green-50);
  --pf-hover: var(--color-green-950);
  --pf-mark: var(--color-green-50);

  --pf-outline-focus: var(--color-green-50);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Noto Serif", serif;
}
