@import "tailwindcss";
@import "./prose.css";
@import "./modal-search.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Noto Serif", serif;
}
