---
import type { Page, GetStaticPaths } from "astro";
import { type CollectionEntry } from "astro:content";
import SiteBase from "@/layouts/SiteBase.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import NotFoundPosts from "@/components/layout/NotFoundPosts.astro";
import PageToggle from "@/components/layout/PageToggle.astro";
import { getOrderedBlogPosts } from "@/utils/blog";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPostsByDate = await getOrderedBlogPosts();

  return paginate(allPostsByDate, {
    pageSize: 10,
  });
};

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<SiteBase title={ `Blog pág ${page.currentPage}` }>
  <section class={ `${page.currentPage > 1 && 'mb-10'}` }>
    <h1 class="text-2xl font-bold">Posts</h1>
    <div>
      { page.data.length > 0 ? (
          page.data.map((post) => (
            <PostPreview 
              id={ post.id }
              title={ post.data.title }
              description={ post.data.description }
              pubDate={ post.data.pubDate }
              tags={ post.data.tags }
            />
          ))
        ) : (
          <NotFoundPosts />
        )
      }
    </div>
  </section>
  <PageToggle page={ page } />
</SiteBase>
