---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col items-center my-30">
  <Icon name="fluent-emoji-high-contrast:ghost" class="text-5xl"/>
  <span class="text-sm mt-4">Nada aqui(Por agora)</span>
</div>