---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col items-center my-20">
    <Icon name="ph:smiley-x-eyes" class="text-5xl"/>
    <span class="text-sm mt-4">Nenhum post encontrado.</span>
</div>