---
import { Icon } from "astro-icon/components";
---

<a id="rss" class="flex items-center cursor-pointer" href="/rss.xml">
  <span class="sr-only">RSS</span>
  <Icon name="material-symbols-light:rss-feed" class="text-3xl"/>
</a>