---
import SiteBase from '@/layouts/SiteBase.astro';
import { Icon } from 'astro-icon/components';
---

<SiteBase title="404">
  <div class="flex flex-col items-center my-30">
    <Icon name="fluent-emoji-high-contrast:face-with-monocle" class="text-5xl"/>
    <span class="text-sm font-serif mt-4">O que você está procurando? (404)</span>
  </div>
</SiteBase>
