---
import Base from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
---

<Base title="404">
  <main class="grid h-screen place-items-center relative">
    <div class="text-center">
      <h1 class="text-5xl font-title font-black">404</h1> 
      <p class="mt-4 font-serif font-medium">página não encontrada.</p>
    </div>
    <a href={`${import.meta.env.BASE_URL}/`} class="flex items-center font-semibold absolute bottom-15"> 
      <Icon name="material-symbols-light:arrow-back-2-rounded" class="inline me-1" />
      Voltar para Home
    </a>
  </main>
</Base>
