---
import SiteBase from '@/layouts/SiteBase.astro';
---

<SiteBase title="Sobre mim">
  <section class="text-base">
    <h1 class="sr-only">Sobre mim</h1>

    <div class="text-justify">
    </div>
  </section>
</SiteBase>