---
import PostPreview from "@/components/blog/PostPreview.astro";
import NotFoundPosts from "@/components/layout/NotFoundPosts.astro";
import SiteBase from "@/layouts/SiteBase.astro";
import siteConfig from "@/site.config";
import { getOrderedBlogPosts } from "@/utils/blog";
import { Icon } from "astro-icon/components";

const allPostsByDate = await getOrderedBlogPosts();
const postsFiltereded = allPostsByDate.slice(0, 5)
---

<SiteBase title="Home">
  <section class="text-base">
    <h1 class="sr-only">Pedro Henrick Queiroz Alves</h1>

    <div class="text-justify">
      <h2 class="text-lg font-bold">Olá!</h2>
      <p class="mt-3">Meu nome é Pedro Henrick, um desenvolvedor com paixão por open source e self hosting.</p>
      <p class="mt-1"></p>
      <p class="flex items-center gap-3 mt-4">
        <span>Me encontre em:</span>
        {siteConfig.UserLinks.map((link) => (
          <a href={link.url} target="_blank">
            <Icon name={`simple-icons:${link.icon}`} class="text-xl"/>
          </a>
        ))}
      </p>
    </div>
  </section>

  <section class="mt-10">
    <h2 class="text-2xl font-black">Posts recentes</h2>
    <div>
      { postsFiltereded.length > 0 ? (
          postsFiltereded.map((post) => (
            <PostPreview 
              id={ post.id }
              title={ post.data.title }
              description={ post.data.description }
              pubDate={ post.data.pubDate }
              tags={ post.data.tags }
            />
          ))
        ) : (
          <NotFoundPosts />
        )
      }
    </div>
  </section>
</SiteBase>
