---
import PostPreview from "@/components/blog/PostPreview.astro";
import NotFoundPosts from "@/components/layout/NotFoundPosts.astro";
import SiteBase from "@/layouts/SiteBase.astro";
import { getOrderedBlogPosts } from "@/utils/blog";
import { frontmatter as IndexFrontmatter, Content as IndexContent } from "@/content/index.md";

const allPostsByDate = await getOrderedBlogPosts();
const postsFiltereded = allPostsByDate.slice(0, 5)
---

<SiteBase title="Home">
  <section class="text-base">
    <h1 class="sr-only">{ IndexFrontmatter.title }</h1>

    <div class="text-justify">
      <IndexContent />
    </div>
  </section>

  <section class="mt-10">
    <h2 class="text-2xl font-black">Posts recentes</h2>
    <div>
      { postsFiltereded.length > 0 ? (
          postsFiltereded.map((post) => (
            <PostPreview 
              id={ post.id }
              title={ post.data.title }
              description={ post.data.description }
              pubDate={ post.data.pubDate }
              tags={ post.data.tags }
            />
          ))
        ) : (
          <NotFoundPosts />
        )
      }
    </div>
  </section>
</SiteBase>
