---
import Head from "@/components/layout/Head.astro";
import siteConfig from "@/site.config";

import "@/styles/global.css";

interface Props {
  title: string
}

const { title } = Astro.props;
---

<html lang={siteConfig.Lang}>
	<head>
    <Head title={title} />
    <script is:inline>
      const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
      
      const handleTheme = (() => {
        const theme = localStorage.getItem('theme') || (mediaQuery.matches ? 'dark' : 'light');
        if (theme == 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      });

      mediaQuery.addEventListener('change', handleTheme);
      handleTheme();
    </script>
	</head>
  <body class="transition-colors duration-500 bg-green-50 text-green-900 dark:bg-green-950 dark:text-green-50">
    <slot></slot>
	</body>
</html>
